input, label, textarea{
    display: block;
    width: 446px;
}

input[type="text"], 
input[type="phone"], 
input[type="email"], 
input[type="number"],
textarea   {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ececec;
    height: 35px;
}

textarea {
    min-height: 75px;
    margin: 5px 0 15px 0;
    font-size: var(--text-extra-medium);
}

label {
    margin: 15px 0 5px 0;
    font-size: var(--text-extra-medium);
}

.contactForm {
    margin: 30px auto;
    width: 450px;
}

fieldset.fancyCheckBox {
    border: none;
    margin: 15px 0;
}

.fancyCheckBox legend {
    font-size: var(--text-extra-medium);
    font-weight: bold;
}

.fancyCheckBox input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    
}

.fancyCheckBox label {
    height: 35px;
    padding: 5px 0 5px 20px;
    background-color: #ececec;
    line-height: 25px;
    margin: 5px 0;
    border-radius: 5px;
    transition: ease-out 0.2s;
}

.fancyCheckBox label:hover {
    cursor: pointer;
}

.fancyCheckBox input:checked + label {
    background-color: #055b7d;
    color: #fff;
    transition: ease-in 0.2s;

}

